body{
    color: salmon;

    background-color: #E0115F;

    font-family: 'Roboto';
}

h3{
    color: firebrick;
    font-family: 'Montserrat';
}

img:hover{
    width: 1000px;
    height: 500px;
}
img{

    width: 500px;
    height: 250px;
}
a{
    color: aqua;

    text-decoration: none;
}

a:hover{
    color: #B2AC88;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shoppee{
    color: orangered;

    text-decoration: none;
}

.shoppee:hover{
    font-size: 50px;
    color: darkcyan;
    font-family: 'Montserrat';
}